.recalc h3 {
  font-size: 16px;
  font-weight: bold;
}

.recalc .section {
  margin-bottom: 30px;
}

.recalc .bold {
  font-weight: bold;
}

.recalc .recalculate-state {
  font-weight: bold;
}

.recalc .recalculate-state.no {
  color: green;
}

.recalc .recalculate-state.yes {
  color: red;
}

.recalc .recommendation {
  font-weight: bold;
}

.recalc .recommendation.yes {
  color: red;
}

.recalc .recommendation.no {
  color: black;
}