<script lang="ts">
    import InputWrapper from './InputWrapper.svelte';

    export let id: string;
    export let label: string;
    export let value: string = null;
    export let customClass: string = '';
    export let inline: boolean = false;
</script>

<InputWrapper id={id} label={label} inline={inline} customClass={customClass}>
    <select name={id} id={id} bind:value={value} class="form-control">
        <slot></slot>
    </select>
</InputWrapper>
